    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Thunder</h2>
                <p>Thunder Media brings to you the next generation integrated solution to create your own digital library.You can download from our huge collection of awesomesauce stuff and own it to stream on all your devices .</p>
                <p>Simply install the thunder media app , view all the media you own or view the media available to download and voila !</p>
                <p>Organising your movie,music,series collection would have never been more simple. Access your media from any device without the hassle of finding your harddisk .</p>
                <p>Happy Streaming ! :)</p>
            </div>
        </div>
    </section>